#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ac8b66e-cc33-42b7-be11-a1d128d75dc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}