#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 16px 16px 16px 16px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #B5B5B6;
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #B5B5B6;
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Ellipse_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #B5B5B6;
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #B5B5B6;
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Ellipse_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 345px;
  height: 43px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}