#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_36 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Ellipse_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Ellipse_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-TextHighlight_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-367d7dab-1c39-42ba-a1d5-68fa48c2068b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}