#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Rich_text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-971139dd-977b-407f-80e7-63e29dc83c71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}