#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}