#s-9d28068b-713b-41e0-83d0-a618f5dc8343 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 782px;
  background-color: #3B8BD6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 #s-Image_1 {
  position: absolute;
  width: 345px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9d28068b-713b-41e0-83d0-a618f5dc8343 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}