#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}