#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE585C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE585C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE585C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE585C;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cd6ca52f-897c-456a-828e-3f0a02886c8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}