#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_7 > svg {
  width: 25px;
  height: 12px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_7 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_21 > svg {
  width: 18px;
  height: 18px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_21 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_33 > svg {
  width: 17px;
  height: 12px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_33 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_4 {
  position: absolute;
  padding-top: 1px;
  width: 45px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_4 span#rtr-t-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}