#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0 #m-fe81a326-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#m-fe81a326-4726-4f97-9d1d-6e10ab9a0bc0.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}